/*
Taken from https://bulma.io/documentation/overview/customize/
*/

@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700');


// 1. Import the initial variables
@import "~bulma/sass/utilities/initial-variables.sass";
@import "~bulma/sass/utilities/functions.sass";


$yellow: #FAD85B;
$blue: #01b3fe;
$red: #fe4a4a;
$purple: #464696;
$green: #006a2d;

$family-sans-serif: "Raleway", "Georgia", serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $purple;
$link:$blue;
$text: #202124;
$box-shadow: 0 20px 50px rgba(51,62,72,.1);


// Header
$navbar-height: 5rem;

// Body
$body-line-heigh: 2;


// Footer
$footer-background-color: transparent;
// $primary-invert: $pink-invert;
// Use the existing orange as the danger color
// $danger: $orange;
// Use the new serif family
// $family-primary: $family-serif;

// 4. Setup your Custom Colors
// $linkedin: #0077b5;
// $linkedin-invert: findColorInvert($linkedin);
// $twitter: #55acee;
// $twitter-invert: findColorInvert($twitter);
// $github: #333;
// $github-invert: findColorInvert($github);

// 5. Add new color variables to the color map.
@import "~bulma/sass/utilities/derived-variables.sass";
// $addColors: (
//   "twitter":($twitter, $twitter-invert),
//   "linkedin": ($linkedin, $linkedin-invert),
//   "github": ($github, $github-invert)
// );
// $colors: map-merge($colors, $addColors);

// // import utils
// @import "./utils.scss";

.has-bg-image {
    background: url('../assets/hero.svg') repeat-y;
    background-position: bottom center;
    background-size: cover;
}

// 6. Import the rest of Bulma
@import "~bulma/bulma.sass";
